hidden=[".config"]
modules = ["nodejs-18:v18-20230623-bd784b9"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "frontend/build"
deploymentTarget = "static"
build = ["sh", "-c", "npm run install-all && cd frontend && npm run build && ls -la build"]

[run]
command = "npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[deployment.rewrites]]
from = "/*"
to = "/index.html"
