hidden=[".config"]
modules = ["nodejs-14", "web"]

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
build = ["sh", "-c", "cd frontend && npm install && npm run build"]

[[ports]]
localPort = 5000
externalPort = 80
