hidden=[".config"]
modules = ["nodejs-18", "web"]
run = "cd frontend && npm run serve:prod"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "frontend/build"
deploymentTarget = "static"
build = ["sh", "-c", "cd frontend && npm run build:prod"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 45479
externalPort = 3000
